.page {
    min-height: calc(100vh - 80px);
    display: grid;
    place-items: center;
    padding: 40px 20px;
    background: #181818;
}

.card {
    width: 100%;
    max-width: 544px;
    background: #fff;
    border: 1px solid #ebebeb;;
    border-radius: 14px;
    padding: 42px;
}

.title {
    margin: 0 0 26px;
    font-family: var(--font-family);
        font-weight: 600;
        font-size: 28px;
        color: #000;
        text-align: center;
}