.section {
    background: var(--backgr);
    padding: 32px 24px;
}

.container {
    width: min(1328px, 100%);
    margin: 0 auto;
    min-height: 800px;
    padding: 56px 40px;
    display: grid;
    grid-template-columns: 1.05fr 0.95fr;
    align-items: center;
    gap: 73px;
    background: var(--back-black);
    border-radius: 10px;
}

.content {
    width: 656px;
    max-width: 100%;
}

.label {
    margin: 0 0 8px;
    color: var(--accept-button);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-family: var(--font-family);
        font-size: 16px;
        line-height: 150%;
}

.title {
    margin: 0 0 32px;
    font-family: var(--second-family);
        font-weight: 600;
        font-size: 40px;
        line-height: 130%;
        letter-spacing: 0.01em;
        color: var(--text);
}

.text {
    margin-bottom: 24px;
}

.text p {
    margin: 0;
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 144%;
        color: var(--text);
}

.offer {
    margin-bottom: 24px;
}

.offerTitle {
    margin: 0 0 6px;
    font-weight: 400;
    font-family: var(--font-family);
        font-size: 18px;
        line-height: 144%;
        color: var(--text);
}

.list {
    margin: 0;
    padding-left: 16px;
}

.list li {
    margin-bottom: 2px;
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 144%;
        color: var(--text);
}

.bottomText {
    margin: 0;
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 144%;
        color: var(--text);
}

.imageBox {
    width: 100%;
    width: 521px;
    height: 527px;
    justify-self: end;
    padding: 0;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    background: transparent;
    cursor: pointer;
}

.sliderTrack {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.65s ease;
}

.slide {
    min-width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}